* { padding: 0; margin: 0; }

a{text-decoration: none; color: #000;}
table, td, th { border: 1px solid #2d2d2d; border-collapse: collapse; }
td, th { padding: 5px; }
ui{list-style: none;}

.container { display: grid; grid-template-rows: 100px 1fr 80px; min-height: 100vh; }

.header { background-color: #fab4b4; padding: 10px 30px; }
.topMenu {display: flex;}
.topMenu li a{color: #fff;}
.topMenu li a:hover {color: #efefef;}
.topMenu li:not(:first-child){margin-left: 15px;}

.footer { background-color: #4b4b4b; color: #fff; }